/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        colons {
            bindings = <&semi_colon>;
            key-positions = <29 30>;
        };
    };

    behaviors {
        com_excl: com_excl {
            compatible = "zmk,behavior-mod-morph";
            label = "COM_EXCL";
            bindings = <&kp COMMA>, <&kp LS(NUMBER_1)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        dot_ques: dot_ques {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_QUES";
            bindings = <&kp DOT>, <&kp LS(MINUS)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        semi_colon: semi_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "SEMI_COLON";
            bindings = <&kp LS(PERIOD)>, <&kp LS(COMMA)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        apo_quot: apo_quot {
            compatible = "zmk,behavior-mod-morph";
            label = "APO_QUOT";
            bindings = <&kp NUHS>, <&kp RA(NUMBER_2)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RALT)>;
        };

        parentheses: parentheses {
            compatible = "zmk,behavior-mod-morph";
            label = "PARENTHESES";
            bindings = <&kp LS(N8)>, <&kp LS(NUMBER_9)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        brackets: brackets {
            compatible = "zmk,behavior-mod-morph";
            label = "BRACKETS";
            bindings = <&kp RA(NUMBER_8)>, <&kp RA(NUMBER_9)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RALT)>;
        };

        curly: curly {
            compatible = "zmk,behavior-mod-morph";
            label = "CURLY";
            bindings = <&kp RA(NUMBER_7)>, <&kp RA(NUMBER_0)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RALT)>;
        };

        small_great: small_great {
            compatible = "zmk,behavior-mod-morph";
            label = "SMALL_GREAT";
            bindings = <&kp NON_US_BACKSLASH>, <&kp LS(NON_US_BSLH)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        percent_and: percent_and {
            compatible = "zmk,behavior-mod-morph";
            label = "PERCENT_AND";
            bindings = <&kp LS(NUMBER_5)>, <&kp LS(NUMBER_6)>;

            #binding-cells = <0>;
            keep-mods = <(MOD_LSFT)>;
            mods = <(MOD_LSFT)>;
        };

        dollar_eur: dollar_eur {
            compatible = "zmk,behavior-mod-morph";
            label = "DOLLAR_EUR";
            bindings = <&kp RA(NUMBER_4)>, <&kp RA(NUMBER_5)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RALT)>;
        };

        slashes: slashes {
            compatible = "zmk,behavior-mod-morph";
            label = "SLASHES";
            bindings = <&kp LS(NUMBER_7)>, <&kp RA(MINUS)>;

            #binding-cells = <0>;
            keep-mods = <(MOD_RALT)>;
            mods = <(MOD_LSFT)>;
        };

        underscore_vertical: underscore_vertical {
            compatible = "zmk,behavior-mod-morph";
            label = "UNDERSCORE_VERTICAL";
            bindings = <&kp LS(SLASH)>, <&kp RA(NUBS)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RALT)>;
        };

        multi_exp: multi_exp {
            compatible = "zmk,behavior-mod-morph";
            label = "MULTI_EXP";
            bindings = <&kp LS(NUHS)>, <&kp LS(RIGHT_BRACKET)>;

            #binding-cells = <0>;
            keep-mods = <(MOD_LSFT)>;
            mods = <(MOD_LSFT)>;
        };

        plus_equal: plus_equal {
            compatible = "zmk,behavior-mod-morph";
            label = "PLUS_EQUAL";
            bindings = <&kp MINUS>, <&kp LS(NUMBER_0)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LSFT)>;
        };

        copy_paste: copy_paste {
            compatible = "zmk,behavior-mod-morph";
            label = "COPY_PASTE";
            bindings = <&kp LC(C)>, <&kp LC(V)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LCTL)>;
        };

        alt_arrows: alt_arrows {
            compatible = "zmk,behavior-mod-morph";
            label = "ALT_ARROWS";
            bindings = <&kp LA(LEFT)>, <&kp LA(RIGHT)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LALT)>;
        };

        media_next: media_next {
            compatible = "zmk,behavior-mod-morph";
            label = "MEDIA_NEXT";
            bindings = <&kp C_NEXT>, <&kp C_PREV>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        volume: volume {
            compatible = "zmk,behavior-mod-morph";
            label = "VOLUME";
            bindings = <&kp C_VOL_DN>, <&kp C_VOLUME_UP>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        delete: delete {
            compatible = "zmk,behavior-mod-morph";
            label = "DELETE";
            bindings = <&mt LEFT_SHIFT BACKSPACE>, <&kp DELETE>;

            #binding-cells = <0>;
            mods = <(MOD_LCTL)>;
        };

        minus_tilde: minus_tilde {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_TILDE";
            bindings = <&kp SLASH>, <&kp RA(RIGHT_BRACKET)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_RALT)>;
        };

        zoom: zoom {
            compatible = "zmk,behavior-mod-morph";
            label = "ZOOM";
            bindings = <&kp LC(MINUS)>, <&kp LC(SLASH)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
            keep-mods = <(MOD_LCTL)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&none  &kp Q  &kp B  &kp L        &kp R    &kp ESCAPE    &apo_quot  &kp W      &kp U   &kp D  &kp Z  &none
&none  &kp S  &kp N  &kp T        &kp H    &kp Y         &kp G      &kp O      &kp E   &kp A  &kp I  &none
&none  &kp X  &kp M  &kp C        &kp F    &com_excl     &dot_ques  &kp P      &kp V   &kp K  &kp J  &none
                     &key_repeat  &delete  &mo 2         &mo 1      &kp SPACE  &tog 4
            >;
        };

        lower_layer {
            bindings = <
&trans  &kp LG(E)     &kp EQUAL   &dollar_eur  &percent_and          &kp LS(NUMBER_3)    &kp LS(PRINTSCREEN)  &kp N7        &kp N8        &kp N9        &kp GRAVE     &trans
&trans  &small_great  &curly      &brackets    &parentheses          &kp RA(N2)          &tog 1               &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp NUMBER_0  &trans
&trans  &minus_tilde  &multi_exp  &slashes     &underscore_vertical  &plus_equal         &kp LC(SPACE)        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LEFT_GUI  &trans
                                  &trans       &trans                &trans              &trans               &trans        &trans
            >;
        };

        raise_layer {
            bindings = <
&trans  &kp LC(Z)     &alt_arrows   &kp LC(TAB)  &kp TAB            &zoom           &kp END  &kp PAGE_DOWN  &kp UP         &kp PG_UP    &kp HOME    &trans
&trans  &sk LEFT_GUI  &sk LEFT_ALT  &sk RCTRL    &sk LEFT_SHIFT     &tog 2          &sl 3    &kp LEFT       &kp DOWN       &kp RIGHT    &tog 4      &trans
&trans  &kp LG(V)     &copy_paste   &kp ENTER    &kp LC(BACKSPACE)  &kp LEFT_WIN    &tog 2   &kp LA(LG(W))  &kp LC(LA(T))  &media_next  &kp C_PLAY  &trans
                                    &trans       &trans             &trans          &trans   &trans         &trans
            >;
        };

        layer_3 {
            bindings = <
&none  &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_CLR              &none          &kp F7  &kp F8  &kp F9  &kp F10  &none
&none  &sk LGUI       &sk LALT       &sk LCTRL     &sk LSHFT     &kp C_AL_MY_COMPUTER    &kp LC(LA(L))  &kp F4  &kp F5  &kp F6  &kp F11  &none
&none  &none          &none          &kp C_MUTE    &kp C_STOP    &volume                 &caps_word     &kp F1  &kp F2  &kp F3  &kp F12  &none
                                     &trans        &trans        &trans                  &trans         &trans  &trans
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans    &msc SCRL_LEFT  &msc SCRL_DOWN  &mmv MOVE_UP    &msc SCRL_UP     &msc SCRL_RIGHT  &trans
&trans  &sk LGUI  &sk LALT  &sk LCTRL  &sk LSHFT  &trans    &trans          &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &tog 4           &trans
&trans  &trans    &trans    &trans     &trans     &trans    &trans          &trans          &trans          &trans           &trans           &trans
                            &trans     &trans     &trans    &mkp RCLK       &mkp LCLK       &mkp MCLK
            >;
        };
    };
};
